/* Animation Utilities */

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.333%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-33.333%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up linear infinite;
}

.animate-scroll-down {
  animation: scroll-down linear infinite;
}

.pause-animation {
  animation-play-state: paused !important;
} 